@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --fonte-padrao: 'Bebas Neue', cursive;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(imagens/imagem2.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    font-size: 1.2em;
}

/* MAIN */
main {
    background-color: white;
    min-width: 320px;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
}

/* TÍTULOS */
h1 {
    font-family: var(--fonte-padrao);
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.137);
    margin-left: 20px;
    padding: 10px;
}

h2 {
    background-image: linear-gradient(to right, rgba(11, 38, 172, 0.1), transparent);
    font-family: var(--fonte-padrao);
    font-weight: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.137);
    border-radius: 5px;
    margin: 20px 0 10px -20px;
    padding: 8px 0 8px 30px;
}

/* SEÇÃO DADOS */
section#dados {
    margin-bottom: 20px;
    background-image: linear-gradient(to right, rgba(11, 38, 172, 0.1), transparent);
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    line-height: 1.6em;
}

/* TEXTO */
main p {
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 10px;
    max-width: 600px;
}

/* LISTAS – PARTE MAIS IMPORTANTE */
ul {
    list-style-position: outside;
    padding-left: 40px;
    margin-top: 10px;
}

ul li {
    margin-bottom: 20px; /* espaço entre experiências */
}

/* TÍTULO DA EXPERIÊNCIA */
ul li strong {
    display: block;
    margin-bottom: 6px;
}

/* DESCRIÇÃO DA EXPERIÊNCIA */
ul li p {
    margin: 0;
    text-indent: 0;
    line-height: 1.5;
}

/* IMAGENS */
img {
    display: inline-flex;
    max-width: 20px;
    margin-bottom: -6px;
}

/* FOOTER */
footer {
    background-color: black;
    max-width: 740px;
    margin: auto;
    text-align: center;
    color: white;
    padding: 10px;
}

footer a {
    color: white;
    font-weight: normal;
    text-decoration: none;
}
