@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --fonte-titulo: 'Bebas Neue', cursive;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(imagens/imagem2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* CONTEÚDO PRINCIPAL */
main {
    background-color: #ffffff;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
}

/* TOPO */
.topo {
    display: flex;
    gap: 20px;
    align-items: center;
    background-image: linear-gradient(to right, rgba(11, 38, 172, 0.1), transparent);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

/* FOTO */
.foto img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}
.info img {
    display: inline-flex;
    max-width: 20px;
    margin-bottom: -6px;
}

/* INFO */
.info h1 {
    font-family: var(--fonte-titulo);
    font-size: 2em;
}
.div h1 {
    font-family: var(--fonte-titulo);
    font-size: 1em;
}


.info p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px 0;
}

/* TÍTULOS */
h2 {
    font-family: var(--fonte-titulo);
    margin-top: 20px;
    padding-left: 10px;
    background-image: linear-gradient(to right, rgba(11, 38, 172, 0.1), transparent);
    border-radius: 5px;
}


/* TEXTOS */
.texto {
    margin-top: 10px;
    padding-left: 10px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

/* LISTAS */
ul {
    margin-top: 10px;
    margin-left: 30px;
}

ul li {
    line-height: 1.8em;
}

/* EXPERIÊNCIA */
.experiencia li {
    margin-bottom: 15px;
}

.experiencia p {
    margin-left: 15px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

/* FOOTER */
footer {
    background-color: black;
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 0 0 15px 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    .topo {
        flex-direction: column;
        text-align: center;
    }

    .foto img {
        width: 100px;
        height: 100px;
    }

    ul {
        margin-left: 20px;
    }
}
